.btn-test-tube-container {
    color: #EE2644;
    font-family: 'ploni-bold-aaa';
    top: 2rem;
    position: relative;
    font-size: 2rem;
    cursor: pointer;
}

.test-tube {
    height: 23rem;
    margin-bottom: -2.5rem;
}

.second-place-test-tube {
    position: relative;
    right: 1rem;
    top: 0rem;
    cursor: auto;
}

.plasma-container {
    width: 50rem;
    height: 20rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.4);
    position: relative;
    min-height: 15rem;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    direction: rtl;
    font-size: 1.3rem;
}

.info-plasma-container{
    width: 50rem;
    display: flex;
    margin: 4rem;
    flex-direction: column;
    align-items: center;
    /* flex-direction: row; */
}

.final-scale-text {    
    margin: 0.8rem
}

.moving-btns-container {
    width: 12rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.arrow-in-plasma-part {
    position: relative;
    height: 4rem;
}

.plasma-info-text{
    border-right: #2B2D42 0.3rem solid;
    border-left: #2B2D42 0.3rem solid;
    padding-right: 1rem;
    padding-left: 1rem;
    transition: 0.4s background-color;
}

.plasma-info-text:hover{
    background-color: #2B2D42;
    color: white;
    border-radius: 1rem;
}

.graph-plasma {
    height: 15rem;
    width: 24rem;
}

.center-inside {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-direction: row;
}

@media screen and (max-width: 600px) {

    .center-inside {
        flex-direction: column;
    }

    .plasma-container {
        width: 29rem;
        height: 30rem;
    }
    
    .info-plasma-container{
        flex-direction: column;
        margin: 1rem;

    }

    .graph-plasma {
        height: 13rem;
        width: 22rem;
    }

    .test-tube {
        margin-right: -1rem;
        height: 16rem;
    }

    .second-place-test-tube {
        right: 0.5rem;
    }

    .btn-test-tube-container {
        margin-top: 8rem;
    }
}