.explain-video {
    max-width: 100%;
}

.scale-for-video-container {
    width: 28rem;
    height: 22rem;
}

.instruct-video {
    font-size: 1.2rem;
}

.bold-video-title {
    font-weight: bold;
    margin-bottom: -1rem;
}

@media screen and (max-width: 600px) {
    .scale-for-video-container {
        width: 25rem;
    }
}