.types-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-responses {
    font-size: 1.6rem;
}

.img-type {
    border-radius: 1rem;
    width: 15rem;
    height: 15rem;
    margin: 1rem;
}

@media screen and (max-width: 600px) {
    .expired {
        flex-direction: column;
    }

    .img-type {
        width: 29rem;

        height: 11rem;
        margin: 0.2rem;
    }

 
}