.types-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-responses {
    font-size: 1.6rem;
}

.img-type {
    border-radius: 1rem;
    width: 15rem;
    height: 15rem;
    margin: 1rem;
}

@media screen and (max-width: 600px) {
    .expired {
        flex-direction: column;
    }

    .img-type {
        width: 21rem;
        height: 9rem;
        margin: 0.2rem;
    }

    .no-margin-top {
        margin-top: 0rem;
        margin-bottom: 0.5rem;
    }
    .header-responses {
        font-size: 1.4rem;
    }
}